* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
   color: white;
 
}
/*navbar styles*/
.navbar {
  background: #1A0B2E;
  padding: 20px 8%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.gradient-text {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  color: #ccc;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: white;
}

.subscribe-btn {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  transform: scale(1.05);
}

.hamburger {
  display: none;
  width: 28px;
  cursor: pointer;
}
/*banner styles*/



.banner {
  background: 
    linear-gradient(to bottom, #1A0B2E, #140624),
    url("assets/banner-bg.png") center center no-repeat;
  background-size: cover;
  padding: 140px 20px 100px;
  text-align: center;
  position: relative;
}

.banner-content {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* Circle */

.circle {
  position: relative;
  width: 300px;
  margin: auto;
}

.circle-bg {
  width: 100%;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95px;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  top: 20px;
  right: -5px;
  background: #00FF88;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

/* Text */

.banner h1 {
  margin-top: 35px;
  font-size: 48px;
  font-weight: 700;
}

.banner p {
  margin-top: 18px;
  color: #cfcfcf;
  font-size: 18px;
}

/* Buttons */

.banner {
  height: 700px;
  background: url("assets/banner-bg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.banner-content {
  max-width: 800px;
}

/* Circle */

.circle {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto 40px auto;
}

.circle-bg {
  width: 100%;
  height: 100%;
}

.mic {
  position: absolute;
  width: 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #00FF88;
  color: black;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* Text */

.banner h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.banner p {
  font-size: 18px;
  opacity: 0.8;
  max-width: 600px;
  margin: 0 auto;
}

/* Buttons */

.banner-buttons {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gradient-btn {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  transition: 0.3s;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

.outline-btn {
  background: transparent;
  border: 2px solid #00FF88;
  color: #00FF88;
  padding: 14px 28px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  transition: 0.3s;
}

.outline-btn:hover {
  background: #00FF88;
  color: black;
}

.btn-icon {
  width: 18px;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .banner {
    height: 600px;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .mic {
    width: 80px;
  }

  .banner h1 {
    font-size: 32px;
  }

  .banner p {
    font-size: 15px;
  }

  .banner-buttons {
    flex-direction: column;
    gap: 15px;
  }

}

/* About */
#about {
  background-color: #1A0B2E;
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#about h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

.desc {
  max-width: 750px;
  margin: 0 auto 20px;
  line-height: 1.7;
  color: #cccccc;
}

.sub-desc {
  margin-bottom: 60px;
  color: #bbbbbb;
}


.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.stat-box {
  flex: 1;
  min-width: 200px;
}

.stat-box h3 {
  font-size: 36px;
  color: #00FF88; 
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
}

/* Layout */
#why {
  background: #230E3D;
  padding: 100px 20px;
  color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
}

#why h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}


.why-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}


.premium {
  background: #351165;
  padding: 40px;
  border-radius: 20px;
}


.right-top {
  display: grid;
  gap: 30px;
}


.bottom-row {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1.6fr 1fr; 
  gap: 30px;
}


.card {
  background: #351165;
  padding: 30px;
  border-radius: 20px;
}

.card img {
  width: 42px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfcf;
}


@media (max-width: 992px) {
  .why-wrapper {
    grid-template-columns: 1fr;
  }

  .bottom-row {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 576px) {
  #why {
    padding: 70px 15px;
  }

  #why h2 {
    font-size: 26px;
  }

  .card {
    padding: 25px;
  }
}

/* Host and vedio */
.podcast-section {
  background-color: #1A0B2E;
  width: 100%;
  padding: 80px 20px;
}


.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
}



.episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  background: #24123F;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.episode-card:hover {
  transform: translateY(-5px);
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.card-content p {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 15px;
}

.duration {
  color: #00ff88;
  font-size: 14px;
}



.host-card {
  background: #24123F;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.host-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.host-content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.host-content p {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 20px;
  max-width: 600px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}
/* Footer*/

.footer {
  background: url("assets/footer-bg.png") no-repeat center center;
  background-size: cover;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
  position: relative;
}




.footer-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: auto;
}


.footer-logo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-logo span {
  background: linear-gradient(90deg, #FF00CC, #7A5FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.footer-icons a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #ffffff;
}

.footer-icons img {
  width: 18px;
  height: 18px;
}


.copyright {
  font-size: 13px;
  color: #aaaaaa;
}


@media (max-width: 576px) {

 
  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  
  .banner {
    height: auto;
    padding: 70px 15px;
    background-position: center;
    text-align: center; 
  }

  .banner-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  
  .circle {
    width: 300px;
    height: 300px;
    margin: 40px auto; 
    display: block;
  }

  
  .mic {
    width: 60px;
    margin: 10px auto;
    display: block;
  }

 
  .badge {
    top: 8px;
    right: 8px;
    font-size: 10px;
    padding: 3px 8px;
  }

  
  .banner h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .banner p {
    font-size: 14px;
    padding: 0 12px;
    line-height: 1.5;
  }

 
  .banner-buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }

  .gradient-btn,
  .outline-btn {
    width: 90%;
    max-width: 250px;
    justify-content: center;
    font-size: 14px;
    padding: 12px 18px;
  }
   #about {
    padding: 60px 20px;
  }

  #about h2 {
    font-size: 26px;
  }

  .desc {
    font-size: 14px;
    line-height: 1.6;
  }

  .sub-desc {
    font-size: 14px;
    margin-bottom: 40px;
  }

  
  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 20px;
    text-align: center;
  }

  .stat-box h3 {
    font-size: 26px;
  }

  .stat-box p {
    font-size: 12px;
  }
   #why {
    padding: 70px 15px;
  }

  #why h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }

  
  .why-wrapper {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  
  .right-top {
    grid-template-columns: 1fr;
  }

 
  .bottom-row {
    grid-template-columns: 1fr;
    grid-column: auto;
  }

  .card {
    padding: 25px;
    width: 100%;
  }

  .card h3 {
    font-size: 17px;
  }

  .card p {
    font-size: 14px;
  }
  .episodes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.host-card {
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
}

.host-content p {
  max-width: 100%;
}

.social-icons {
  justify-content: center;
}





  .container {
    padding: 0 20px;
  }

  .episode-card {
    border-radius: 18px;
  }

  .card-content h3 {
    font-size: 19px;
  }

  .card-content p {
    font-size: 15px;
  }

  .host-img img {
    width: 200px;
    height: 200px;
  }
  .footer-logo {
    font-size: 34px;
  }

  .footer-icons {
    gap: 20px;
  }

  .footer-icons a {
    font-size: 13px;
  }

}





